<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/shops/character_shop.css">
    <title>EwordZ - 상점</title>
    
</head>
<body>
    <div class="wrap"> 
        <div id="spring-background" class="color-card">
            <div class="color-sample" style="background-image: url(../static/imgs/background_1.png); background-size: cover; background-position: center;"></div>
            <div class="color-info">
                <strong>봄 배경</strong><br>
                봄 감성의 따듯한 배경
            </div>
            <div class="star-icon">★1000</div>
        </div>
        <div id="spring-background-info"></div>


        <div class="color-card">
            <div class="color-sample" style="background-color: #6C44A6;"></div>
            <div class="color-info">
                <strong>보라색 배경</strong><br>
                기본 배경에 보라색을 입힌 배경
            </div>
            <div class="star-icon">★1000</div>
        </div>

        <div class="color-card">
            <div class="color-sample" style="background-color: #3498DB;"></div>
            <div class="color-info">
                <strong>파란색 배경</strong><br>
                기본 배경에 파란색을 입힌 배경
            </div>
            <div class="star-icon">★1000</div>
        </div>

        <div class="color-card">
            <div class="color-sample" style="background-color: #3D8B7C;"></div>
            <div class="color-info">
                <strong>초록색 배경</strong><br>
                기본 배경에 초록색을 입힌 배경
            </div>
            <div class="star-icon">★1000</div>
        </div>

        <div class="color-card">
            <div class="color-sample" style="background-color: #E67E22;"></div>
            <div class="color-info">
                <strong>주황색 배경</strong><br>
                기본 배경에 주황색을 입힌 배경
            </div>
            <div class="star-icon">★1000</div>
        </div>

        <div class="color-card">
            <div class="color-sample" style="background-color: #BDC3C7;"></div>
            <div class="color-info">
                <strong>회색 배경</strong><br>
                기본 배경에 회색을 입힌 배경
            </div>
            <div class="star-icon">★1000</div>
        </div>
        <div class="color-card">
            <div class="color-sample" style="background-color: #6C44A6;"></div>
            <div class="color-info">
                <strong>보라색 배경</strong><br>
                기본 배경에 보라색을 입힌 배경
            </div>
            <div class="star-icon">★1000</div>
        </div>

        <div class="color-card">
            <div class="color-sample" style="background-color: #3498DB;"></div>
            <div class="color-info">
                <strong>파란색 배경</strong><br>
                기본 배경에 파란색을 입힌 배경
            </div>
            <div class="star-icon">★1000</div>
        </div>

        <div class="color-card">
            <div class="color-sample" style="background-color: #3D8B7C;"></div>
            <div class="color-info">
                <strong>초록색 배경</strong><br>
                기본 배경에 초록색을 입힌 배경
            </div>
            <div class="star-icon">★1000</div>
        </div>

        <div class="color-card">
            <div class="color-sample" style="background-color: #E67E22;"></div>
            <div class="color-info">
                <strong>주황색 배경</strong><br>
                기본 배경에 주황색을 입힌 배경
            </div>
            <div class="star-icon">★1000</div>
        </div>

        <div class="color-card">
            <div class="color-sample" style="background-color: #BDC3C7;"></div>
            <div class="color-info">
                <strong>회색 배경</strong><br>
                기본 배경에 회색을 입힌 배경
            </div>
            <div class="star-icon">★1000</div>
        </div>
    </div>


    <script src="../static/js/shop/script.js"></script>
</body>
</html>