<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/collection/style.css">
</head>

<body>
    <div class="wrap">
        <header>

        </header>
        
        <footer>
            <div class="top">
                <div class="checkbox">
                    <button id="btn1">배경</button>
                    <button id="btn2">캐릭터</button>
                    <button id="btn3">미보유</button>
                </div>

                
                
                
                
            </div>

            <div class="bottom">

            </div>
        </footer>
    </div>
</body>
<script>
    let nowBtn = 1;
    
    const btn1 = document.getElementById("");
    switch(nowBtn){
        case 1:
            
            break
        case 2:
            console.log("addddd");
            break
        case 3:
            console.log("addddd");
            break        
    }
</script>
</html>