<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Example</title>
    <link rel="stylesheet" href="../static/css/main/style.css">
</head>
<body>
    <div class="container" data-attendance='{{ attendance | tojson | safe }}'>
        <header>
            <div class="profile">
                <div class="avatar">
                    <img src="../static/imgs/character_1.png" alt="Avatar" />
                </div>
                <p class="nick">{{user_name}}</p>
            </div>

            <div class="info">
                <h2>내 정보</h2>
                <section>
                    <h3>현재 정답률: 0%</h3>
                    <h3>최고 정답률: 0%</h3>
                </section>
                <p class="reset">매주 월요일 초기화</p>
            </div>

            <div class="goals">
                <h2>일일 목표</h2>
                <h3>문제 풀기</h3>
                <h4>0/10</h4>
                <button id="attendance_check_btn">출석 체크</button>
            </div>
        </header>

        <footer>
            <div class="menu">
                <ul>
                    <li id="toDayStudy">⭐ 오늘의 학습</li>
                    <li id="shops">🛒 상점</li>
                    <li>📑 컬렉션</li>
                </ul>
            </div>

            <div class="attendance">
                <h2>출석체크</h2>
                <div class="days">
                    <span>월</span>
                    <span>화</span>
                    <span>수</span>
                    <span>목</span>
                    <span>금</span>
                    <span>토</span>
                    <span>일</span>
                </div>
                <p class="continuous">{{sequence}}일 연속 출석중</p>
            </div>
        </footer>

    <script>
        document.addEventListener('DOMContentLoaded', () => {      
                const container = document.querySelector('.container');
                const attendanceCheck = JSON.parse(container.getAttribute('data-attendance'));

                const days = document.querySelectorAll('.days span');

                attendanceCheck.forEach((status, index) => {
                    if (status === 1) {
                        days[index].style.backgroundColor = 'green';
                    } else {
                        days[index].style.backgroundColor = 'gray'; 
                    }
                });

                const attendanceCheckButton = document.getElementById('attendance_check_btn');
                if (attendanceCheckButton) {
                    attendanceCheckButton.onclick = function() {
                        alert("일일 목표를 모두 완수해주세요.");
                    };
                }

                document.getElementById('shops').onclick = function() {
                    window.location.href = '/shops';
                }

                document.getElementById('toDayStudy').onclick = function() {
                    window.location.href = '/to_day_study';
                };
            }
        );

        
    </script>

</body>
</html>