<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/shops/shops.css">
    <title>EwordZ - 상점</title>
</head>
<body>
    <header>
        <button id="back-btn">돌아가기</button>
        <div class="header-container">
            <div class="points-display">
                <h1>보유 포인트</h1>
                <p class="money">10,000p</p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="wrap" id="background-wrap"> 
            <div id="spring-background" class="color-card">
                <div class="color-sample" style="background-image: url(../static/imgs/background_1.png); background-size: cover; background-position: center;"></div>
                <div class="color-info">
                    <strong>봄 [ 배경 ]</strong><br>
                    봄 감성의 따뜻한 배경
                </div>
                <div class="star-icon">1000P</div>
            </div>
            <!-- 추가 배경 아이템들 -->
        </div>
        <div class="wrap" id="character-wrap">
            <div id="roi-character" class="color-card">
                <div class="color-sample" style="background-image: url(../static/imgs/roi.png); background-size: cover; background-position: center;"></div>
                <div class="color-info">
                    <strong>로이 [ 캐릭터 ]</strong><br>
                    캐릭터 설명 뭐라하지?
                </div>
                <div class="star-icon">1000P</div>
            </div>
            <!-- 추가 캐릭터 아이템들 -->
            <div id="dudu-character" class="color-card">
                <div class="color-sample" style="background-image: url(../static/imgs/dudu.png); background-size: cover; background-position: center;"></div>
                <div class="color-info">
                    <strong>두두 [ 캐릭터 ]</strong><br>
                    지후야 이거 보면 기획 짜와라
                </div>
                <div class="star-icon">1200P</div>
            </div>
            <div id="reona-character" class="color-card">
                <div class="color-sample" style="background-image: url(../static/imgs/reona.png); background-size: cover; background-position: center;"></div>
                <div class="color-info">
                    <strong>레오나 [ 캐릭터 ]</strong><br>
                    캐릭터 설명 뭐라하지?
                </div>
                <div class="star-icon">1200P</div>
            </div>
            <div id="jeombo-character" class="color-card">
                <div class="color-sample" style="background-image: url(../static/imgs/jeombo.png); background-size: cover; background-position: center;"></div>
                <div class="color-info">
                    <strong>점보 [ 캐릭터 ]</strong><br>
                    지후야 이거 보면 기획 짜와라
                </div>
                <div class="star-icon">1200P</div>
            </div>
            <div id="runa-character" class="color-card">
                <div class="color-sample" style="background-image: url(../static/imgs/runa.png); background-size: cover; background-position: center;"></div>
                <div class="color-info">
                    <strong>루나 [ 캐릭터 ]</strong><br>
                    캐릭터 설명 뭐라하지?
                </div>
                <div class="star-icon">1200P</div>
            </div>
            <div id="somi-character" class="color-card">
                <div class="color-sample" style="background-image: url(../static/imgs/somi.png); background-size: cover; background-position: center;"></div>
                <div class="color-info">
                    <strong>솜이 [ 캐릭터 ]</strong><br>
                    지후야 이거 보면 기획 짜와라
                </div>
                <div class="star-icon">1200P</div>
            </div>
            <div id="juno-character" class="color-card">
                <div class="color-sample" style="background-image: url(../static/imgs/juno.png); background-size: cover; background-position: center;"></div>
                <div class="color-info">
                    <strong>주노 [ 캐릭터 ]</strong><br>
                    캐릭터 설명 뭐라하지?
                </div>
                <div class="star-icon">1200P</div>
            </div>
            <div id="jjini-character" class="color-card">
                <div class="color-sample" style="background-image: url(../static/imgs/jjini.png); background-size: cover; background-position: center;"></div>
                <div class="color-info">
                    <strong>찌니 [ 캐릭터 ]</strong><br>
                    지후야 이거 보면 기획 짜와라
                </div>
                <div class="star-icon">1200P</div>
            </div>
            <div id="moka-character" class="color-card">
                <div class="color-sample" style="background-image: url(../static/imgs/moka.png); background-size: cover; background-position: center;"></div>
                <div class="color-info">
                    <strong>모카 [ 캐릭터 ]</strong><br>
                    캐릭터 설명 뭐라하지?
                </div>
                <div class="star-icon">1200P</div>
            </div>
            <div id="wingwing-character" class="color-card">
                <div class="color-sample" style="background-image: url(../static/imgs/wingwing.png); background-size: cover; background-position: center;"></div>
                <div class="color-info">
                    <strong>윙윙 [ 캐릭터 ]</strong><br>
                    지후야 이거 보면 기획 짜와라
                </div>
                <div class="star-icon">1200P</div>
            </div>
        </div>
    </div>
    <script src="../static/js/shop/script.js"></script>
</body>
</html>
