<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/success/style.css">
    <title>Signup Success</title>
</head>
<body class="success">
    <img src="/static/imgs/testImg.png">
    <input inputmode="text" />
    <!-- <div class="success">
        <h1>회원가입 성공 :)</h1>
        <p><b>EwordZ</b>에 오신걸 진심으로 환영해요!<br>
            다음은 회원님이 가입한 정보에요.<br>
        </p>
        <div class="infoBox">
            가입한 아이디 - {{ id }}<br>
            가입 날짜 -  {{ time }}     
        </div>
        <button>로그인하러 가기</button>
    </div> -->
</body>
</html>